{% extends "layout.html" %}


{% block body %}

    <h1>Matrícula</h1>
    <form action="register" method="post">
        <input autocomplete="off" autofocus name="name" placeholder="Nome" type="text">
        <select name="tipo de aula">
            <option disable selected>Tipo de Aula</option>
            <option>Pilates</option>
            <option>Hidroginástica</option>
            <option>Personalizado</option>
        </select>
        <input type="submit" value="Matricular">
    </form>

{% endblock %}